In [ ]:
# Write a code to reverse a string.

txt = "I am deepak"

print(txt[::-1])

kapeed ma I

In [ ]:
# Write a code to count the number of vowels in a string.

txt = "Hey, how are you"
txt1 = list(txt)
count = 0;
for i in txt1:
  if (i == "a" or i == "A" or i == "e" or i == "E" or i == "i" or i == "I" or i == "o" or i == "O" or i == "u" or i == "U"):
    count+=1;
print(count, "vowels in this string")

6 vowels in this string

In [ ]:
# Write a code to check if a given string is a palindrome or not.

txt = "naman"
temp = ""
for i in txt:
  temp = i + temp;
if (temp == txt):
  print("Pallindrome")
else:
  print("Not pallindrome")

Pallindrome

In [ ]:
# Write a code to check if two given strings are anagrams of each other.

txt1 = "listen"
txt2 = "silent"
x = []
y = []
for i in txt1:
  x.append(i)
  x.sort()
for j in txt2:
  y.append(j)
  y.sort()
if (x == y):
  print("strings are anagram")
else:
  print("strings aren't anagram")

strings are anagram

In [ ]:
# Write a code to find all occurrences of a given substring within another string.

org_str = "Hey sir , how are you sir"
sub_str = "sir"
res = []

for i in range(len(org_str)):
  if org_str.startswith(sub_str,i):
    res.append(i)

print("The start indices of the substrings are: ",str(res))

The start indices of the substrings are:  [4, 22]

In [ ]:
# Write a code to perform basic string compression using the counts of repeated characters.

org_str = "abbbccdeeeb"
res = ""
cnt = 1
for i in range(1, len(org_str)):
  if org_str[i - 1] == org_str[i]:
    cnt += 1
  else:
    res = res + org_str[i - 1]
    if cnt > 1:
      res += str(cnt)
      cnt = 1
res = res + org_str[-1]
if cnt > 1:
  res += str(cnt)
print(res)

ab3c2de3b

In [ ]:
# Write a code to determine if a string has all unique characters.

org_str = "abcdef"
x = ""

for i in org_str:
  if i not in x:
    x = x + i;
if (org_str == x):
  print("True")
else:
  print("False")

True

In [ ]:
# Write a code to convert a given string to uppercase or lowercase.

str1 = "HEY DEEPAK"
str2 = "hey deepak"
res1 = str1.lower()
res2 = str2.upper()
print(res1,"\n", res2)

hey deepak
 HEY DEEPAK

In [ ]:
# Write a code to count the number of words in a string.

org_str = "The cat chased the playful mouse"
res = len(org_str.split())

print ("The number of words in string are :",str(res))

The number of words in string are : 6

In [ ]:
# Write a code to concatenate two strings without using the + operator.

str1 = "Hey"
str2 = "Deepak"

print(" ".join([str1,str2]))

Hey Deepak

In [ ]:
# Write a code to remove all occurrences of a specific element from a list.

org_list = [1,2,4,3,7,2]
item = 2
a = org_list.count(item)

for i in range(a):
  org_list.remove(item)
print(org_list)

[1, 4, 3, 7]

In [ ]:
# Implement a code to find the second largest number in a given list of integers.

list1 = [10, 20, 4, 45, 99]
new_list = set(list1)

new_list.remove(max(new_list))
print(max(new_list))

45

In [ ]:
# Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

my_list = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
freq = {}
for item in my_list:
  if item in freq:
    freq[item]+= 1
  else:
    freq[item] = 1
for key, value in freq.items():
  print("% d : % d" % (key, value))

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions.

num = [1,2,3,4,5,6,7,8,9]
L = len(num)

for i in range(int(L/2)):
  n = num[i]
  num[i] = num[L-i-1]
  num[L-i-1] = n
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Implement a code to find and remove duplicates from a list while preserving the original order of elements.

list1 = [1,4,6,8,1,4,2,8,9,5,4,2]
res = []
print("Original list: ",list1)

for i in list1:
  if i not in res:
    res.append(i)
print("List after removing duplicate elements: ",res)

Original list:  [1, 4, 6, 8, 1, 4, 2, 8, 9, 5, 4, 2]
List after removing duplicate elements:  [1, 4, 6, 8, 2, 9, 5]

In [ ]:
# Create a code to check if a given list is sorted (either in ascending or descending order) or not.

list1 = [1,3,6,8,9,12]
temp = 0
i = 1

while i < len(list1):
  if (list1[i] < list1[i-1]):
    temp = 1
  i+= 1

if(not temp):
  print("List is sorted")
else:
  print("List is not sorted")

List is sorted

In [ ]:
# Write a code to merge two sorted lists into a single sorted list.

list1 = [1,3,5,7,9]
list2 = [12,34,45,67,87]
size1 = len(list1)
size2 = len(list2)
res = []
i, j = 0,0

while i < size1 and j < size2:
  if list1[i] < list2[j]:
    res.append(list1[i])
    i+=1
  else:
    res.append(list2[j])
    j+=1
res = res + list1[i:] + list2[j:]
print(res)

[1, 3, 5, 7, 9, 12, 34, 45, 67, 87]

In [ ]:
# Implement a code to find the intersection of two given lists.

lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
lst3 = []

for i in lst1:
  if i in lst2:
    lst3.append(i)

print(lst3)

[9, 11, 26, 28]

In [ ]:
# Create a code to find the union of two lists without duplicates.



list1 = [23, 45, 65, 31, 1, 89]
list2 = [67, 89, 23, 45, 8, 90,23]

set1 = set(list1)
set2 = set(list2)
lst = list(set1.union(set2))

print(lst)

[65, 1, 67, 8, 45, 23, 89, 90, 31]

In [ ]:
# Write a code to shuffle a given list randomly without using any built-in shuffle functions.

lst = [4,7,1,9,3]

In [ ]:
# Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

first=int(input("Enter the length of first tuple: "))

f_tuple=[]
s_tuple=[]
for i in range(first):
  a=int(input("Enter the number:"))
  f_tuple.append(a)
second=int(input("Enter the length of first tuple: "))
for i in range(second):
  a=int(input("Enter the number:"))
  s_tuple.append(a)
lst=tuple(set(f_tuple).intersection(set(s_tuple)))
print(lst)

KeyboardInterrupt: Interrupted by user

In [ ]:
# Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

first = input("Enter any number: ")
second = input("Enter any number: ")
first = set(list(first.split(",")))
second = set(list(second.split(",")))
result = first.intersection(second)
print(result)

Enter any number: 14,47,11,54,87
Enter any number: 47,11,98,87,36
{'47', '87', '11'}

In [ ]:
# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

first = input("Enter any number: ")
second = input("Enter any number: ")
first = tuple(list(first.split(",")))
second = tuple(list(second.split(",")))
result = first + second
print(result)

Enter any number: 47,11,54,87
Enter any number: 98,87,36
('47', '11', '54', '87', '98', '87', '36')

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

first = input("Enter any sentence: ")
second = input("Enter any sentence: ")
first = set(list(first.split(" ")))
second = set(list(second.split(" ")))
result = []
for i in first:
  if i not in second:
    result.append(i)
print(set(result))

Enter any sentence: ok go home not here
Enter any sentence: not home
{'here', 'ok', 'go'}

In [ ]:
# Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

tpl = input("Enter the tuple: ")
fst = int(input("Enter starting range: "))
sec = int(input("Enter ending range: "))
tpl = tuple(list(tpl.split(",")))
result = []
for i in range(fst, sec):
  result.append(tpl[i])
print(tuple(result))

Enter the tuple: 12,45,14,78,45,96,23,14,85,45
Enter starting range: 2
Enter ending range: 4
('14', '78')

In [ ]:
# Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

first = set(input("Enter characters for first set: "))
second = set(input("Enter characters for second set: "))

result = first.union(second)
print("Union of two sets: ", result)

Enter characters for first set: abcde
Enter characters for second set: cdefg
Union of two sets:  {'d', 'e', 'g', 'f', 'c', 'b', 'a'}

In [ ]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

first = (input("Enter any number: "))
first = tuple(list(first.split(",")))
print("Maximum number is: ",max(first))
print("Minimum number is: ",min(first))

Enter any number: 45,14,78,45,96,23,14,85,45
Maximum number is:  96
Minimum number is:  14

In [ ]:
# Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

first = input("Enter any numbers: ")
second = input("Enter any numbers: ")
first = set(list(first.split(",")))
second = set(list(second.split(",")))
union_ = first.union(second)
inter = first.intersection(second)
diff = first.difference(second)
print("Union of two sets: ",union_)
print("Intersection of two sets: ",inter)
print("Difference of two sets: ",diff)

Enter any numbers: 96,23,14,85,45
Enter any numbers: 45,23,85,74,16
{'45', '23', '85', '96', '14'} {'45', '23', '74', '85', '16'}
Union of two sets:  {'45', '23', '74', '85', '96', '14', '16'}
Intersection of two sets:  {'85', '45', '23'}
Difference of two sets:  {'96', '14'}

In [ ]:
# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in tahe tuple.

first = input("Enter any numbers: ")
first = [int(x.strip()) for x in first.split(",")]
first=tuple(first)
print(first)
element = int(input("Enter the element to count: "))
result = first.count(element)
print("Number of occurrences of", element, "in the tuple:", result)

Enter any numbers: 45,23,85,74,16,45
(45, 23, 85, 74, 16, 45)
Enter the element to count: 45
Number of occurrences of 45 in the tuple: 2

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

first = input("Enter first string: ")
second = input("Enter second string: ")
first = set(first.split())
second = set(second.split())
result = first.symmetric_difference(second)
print(result)

Enter first string: hey how are you
Enter second string: how you whatsap ok
{'hey', 'whatsap', 'ok', 'are'}

In [ ]:
# Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

def word_freq(words):
  freq_dict = {}
  for word in words:
    if word in freq_dict:
      freq_dict[word]+=1
    else:
      freq_dict[word] = 1
  return freq_dict

input_words = input("Enter a list of words separated by spaces: ")
input_words = input_words.split()
word_freq_dict = word_freq(input_words)
print("Word Frequency Dictionary:", word_freq_dict)

Enter a list of words separated by spaces: apple mango apple banana apple
Word Frequency Dictionary: {'apple': 3, 'mango': 1, 'banana': 1}

In [ ]:
d1={"mango":30,"apple":20,"grapes":25}
d2={"kiwi":40,"apple":30,"orange":50}
for item in d2.keys():
    if item in d1.keys():
        d1[item]+=d2[item]
    else:
        d1[item]=d2[item]
print("dictionary after combining is ....")
for key,value in d1.items():
    print(key,value)

dictionary after combining is ....
mango 30
apple 50
grapes 25
kiwi 40
orange 50

In [ ]:
# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

dict={"a":100,"b":200,"c":300}
keys=["a","b","d"]
values=[]
for key in keys:
    if key in dict:
        values.append(dict[key])
    else:
        values.append(None)
print(values)

[100, 200, None]

In [ ]:
fruits={"apple":5,"banana":2,"cherry":8,"date":1}
fruits_tuple=fruits.items()
print(fruits_tuple)

sorted(fruits_tuple,key=lambda x:x[1])

dict_items([('apple', 5), ('banana', 2), ('cherry', 8), ('date', 1)])

[('date', 1), ('banana', 2), ('apple', 5), ('cherry', 8)]

In [ ]:
# Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

org_dict={"apple":30,"banana":20,"orange":50,"grapes":40,"kiwi":30}
insert_dict={}
for key,value in org_dict.items():
    if value not in insert_dict:
        insert_dict[value]=[key]
    else:
        insert_dict[value].append(key)
print("original dictionary : ",org_dict)
print("inserted dictionary : ", insert_dict)

original dictionary :  {'apple': 30, 'banana': 20, 'orange': 50, 'grapes': 40, 'kiwi': 30}
inserted dictionary :  {30: ['apple', 'kiwi'], 20: ['banana'], 50: ['orange'], 40: ['grapes']}